body {
    font-family: avenir;
}

h2 {
  text-align: center;
}

hr {
  width: 700px;
}

.colorImage {
  width: 200px;
  height: 200px;
}

#color {
  margin-left: auto;
  margin-right: auto;
}

/*title {
  margin-bottom: 5%;
  margin-top: 5%;
}
*/

#ColorTitle {
  font-family: Georgia;
  text-align: left;
}

.RedGroup .OrangeGroup .YellowGroup .GreenGroup .BlueGroup {
  font-family: Georgia;
  text-align: left;
}

.RedInfo .OrangeInfo .YellowInfo .GreenInfo .BlueInfo {
  font-family: Georgia;
  font-style: italic;
}

.axis line,
.axis path {
    fill: none;
    stroke: #555;
    shape-rendering: crispEdges;
}

.tick text {
    font-family: sans-serif;
    font-size: 11px;
    fill: #555;
}

path {
    fill: black;
    stroke: white;
}

.country {
    fill: #ff9999;
}

#map {
    width: 75%;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

#map:hover {
  filter: none;
  -webkit-filter: grayscale(0);
}

:target:before {
  content:"";
  display:block;
  height:60px; /* fixed header height*/
  margin:-30px 0 0; /* negative fixed header height */
}

.dropPadding{
    padding-top: 2%;
}

.story{
  padding-top: 5%;
  text-align: center;
  fill: #555;
}

.txt{
  font-family: avenir;
  text-align: center;
  font-size: 150px;
}

#tagline{
  font-size: 27px;
  fill: #555;
  padding-left: 15%;
  padding-right: 15%;
}

#problemText{
  padding-top: 7px;
  padding-left: 25%;
  padding-right: 25%;
  text-align: center;
  font-size: 15px;
  fill: #555;
}

.img-circle {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.column-left{ float: left; width: 33%; }
.column-right{ float: right; width: 33%; }
.column-center{ display: inline-block; width: 33%; }

table {
  margin: 0 auto;
}

nav.navbar-findcond { background: #fff; border-color: #ccc; box-shadow: 0 0 2px 0 #ccc; }
nav.navbar-findcond a { color: #6C7B8B; }
nav.navbar-findcond ul.navbar-nav a { color: #6C7B8B; border-style: solid; border-width: 0 0 2px 0; border-color: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover,
nav.navbar-findcond ul.navbar-nav a:visited,
nav.navbar-findcond ul.navbar-nav a:focus,
nav.navbar-findcond ul.navbar-nav a:active { background: #fff; }
nav.navbar-findcond ul.navbar-nav a:hover { border-color: #6C7B8B; }
nav.navbar-findcond li.divider { background: #ccc; }
nav.navbar-findcond button.navbar-toggle { background: #6C7B8B; border-radius: 2px; }
nav.navbar-findcond button.navbar-toggle:hover { background: #999; }
nav.navbar-findcond button.navbar-toggle > span.icon-bar { background: #fff; }
nav.navbar-findcond ul.dropdown-menu { border: 0; background: #fff; border-radius: 4px; margin: 4px 0; box-shadow: 0 0 4px 0 #ccc; }
nav.navbar-findcond ul.dropdown-menu > li > a { color: #444; }
nav.navbar-findcond ul.dropdown-menu > li > a:hover { background: #6C7B8B; color: #fff; }
nav.navbar-findcond span.badge { background: #6C7B8B; font-weight: normal; font-size: 11px; margin: 0 4px; }
nav.navbar-findcond span.badge.new { background: #6C7B8B; color: #fff; }


h2 {
    text-align: center;
    margin-bottom: 5%;
    margin-top: 2%;
}

/*#page {
    display: none;
}
#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("http://i.stack.imgur.com/MnyxU.gif");
    background-repeat: no-repeat;
    background-position: center;
}*/


.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}
