body {
    font-family: avenir;
}

.axis line,
.axis path {
    fill: none;
    stroke: #555;
    shape-rendering: crispEdges;
}

.tick text {
    font-family: sans-serif;
    font-size: 11px;
    fill: #555;
}

path {
    fill: none;
    stroke: white;
}

.country {
    fill: #ff9999;
}

#map {
    width: 75%;
    height: 600px;
}